/*
header style
*/
#header.header-md #topNav a.logo > img{
    margin: 5px 0;
    height: 55px;
}

.header-image{
    margin: 0;
    padding: 0;
    
}
.header-image img{
    height: 600px;
}

#corporate{
    background-image: url('AdobeStock_66781279.jpeg');
	background-repeat:no-repeat;
	height:600px;
	color: #fff !important;
}

#corporate h1{
	color: #fff;
}

section.back-black{
	border-bottom: 6px solid #000;
}

.back-blue{
	background-color: #0000FF;
	height:50px;
	
}
.back-blue h2{
	color: #fff;
	margin: 0;
	
}

.back-red{
	background-color: #FF0000;
	height:100px;
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	
}
.back-red h2{
	color: #fff;
	margin: 0;
	
}

#standard-commercial{
	padding: 0px;
	background-image: url('CommercialElevator1.jpeg');
	height:600px;
	margin: 0 10px 0 10px;
}
#premium-commercial{
		padding: 0px;
	background-image: url('CommercialElevator2.jpeg');
	background-position: center center;
	height:600px;
	margin: 0 10px 0 10px;
}

#excelium-commercial{
		padding: 0px;
	background-image: url('CommercialElevator3.jpeg');
	background-position: center center;
	margin: 0 10px 0 10px;
	height:600px;
}

.vertical { 
    border-left: 2px solid #a33546;
    height: 505px;
    width: 10px;
    position: absolute;
    left: 50%;
    
}
.horizontal{
    margin: 75px 100px 0 100px;
    border-top: 6px solid #a33546;
    width: 50px;
}
.margin{
    margin-bottom: 250px;
}
#melevator{
    width: 20%;
    position: absolute;
    left: 40%;
    top: 180px;
    z-index: 1;
}

.step h2{
    color: #d9d2c2;
}

.step h3, .step p{
    color: #ae4e5c;
}


/*----------------*/

.blue{
    background-color:#0163a0;
    border-bottom: rgba(255,255,255,0.1) 1px solid;
    color: white;
}
.blue:hover{
    background-color:#064872;
}

.default{
    border: #ccc 2px solid;
    color: white !important;
}
.default:hover{
    background-color: #ccc;
    color: #000 !important;
}

.auto-height{
    height: auto !important;
}

/*----------*/
.col-center{
    margin: 0 auto;
}
.quote{
    margin: 10px 0 0 0;
}
.result{
    border: #444444 1px solid;
    border-radius: 5px;
    background-color: #c0c0c0;
}

table{
    text-align: center;
}
.space{
    margin: 10px 0;
}